extends layout
block head
	nav(class='navbar navbar-inverse navbar-fixed-top navbar-authed')
		div(class='container')
			div(class='row')
				div(class='col-xs-6 col-md-6 nav-col')
					div(class='navbar-header')
						a(class='navbar-brand')
							span(class='logo-text-alt')
								|kurehun
				div(class='col-xs-6 col-md-6 nav-col')
					ul(class='nav navbar-nav pull-right')
						li
							a(href='#')
								img(src='#{profile.profile_picture}' height='32' width='32' class='profile-image avatar')
								|#{profile.username}
	nav(class='navbar navbar-default navbar-fixed-top navbar-authed-alt')
		div(class='container')
			div(class='row')
				div(class='col-xs-4 col-md-4 nav-col')
					ul(class='nav navbar-nav')
						li
							a(href='#')
								|Trending
						li
							a(href='#')
								|Recent
						li
							a(href='#')
								|Popular
						li
							a(href='#')
								|More <i class='fa fa-chevron-down'></i>
				div(class='col-xs-4 col-md-4 nav-col')
					div(class='form-group nav-search')
						input(input type='text' class='form-control input-sm input-search' placeholder='Search')
				div(class='col-xs-4 col-md-4 nav-col')
					ul(class='nav navbar-nav pull-right')
						li
							a(href='#')
								|Following
						li
							a(href='#')
								|Custom List <i class='fa fa-chevron-down'></i>
						li
							a(href='#' class='li-a-btn')
								button(class='btn btn-success navbar-btn btn-sm li-btn')
									|<i class='glyphicon glyphicon-share'></i> Share
	container(class='feed')
		.col-xs-12.col-md-6.col-md-offset-3.post
			.panel.panel-default
				.panel-heading
					.row
						.col-xs-6
							h3.panel-title
								a(href='#')
									img(src='#{profile.profile_picture}' height='32' width='32' class='profile-image avatar')
									|#{profile.username}
						.col-xs-6
							h3.panel-title.pull-right.source
								a(href='#')
									|<i class='fa fa-instagram'></i>
				.panel-image
					img.panel-image-preview(src='https://666a658c624a3c03a6b2-25cda059d975d2f318c03e90bcf17c40.ssl.cf1.rackcdn.com/unsplash_52d09387ae003_1.JPG')
				.panel-body
					h4 Title of Image
					p
						| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in lobortis nisl, vitae iaculis sapien. Phasellus ultrices gravida massa luctus ornare. Suspendisse blandit quam elit, eu imperdiet neque semper et.
		.col-xs-12.col-md-6.col-md-offset-3.post
			.panel.panel-default
				.panel-heading
					.row
						.col-xs-6
							h3.panel-title
								a(href='#')
									img(src='#{profile.profile_picture}' height='32' width='32' class='profile-image avatar')
									|#{profile.username}
						.col-xs-6
							h3.panel-title.pull-right.source
								a(href='#')
									|<i class='fa fa-youtube'></i>
				.panel-image
					.videoWrapper
						iframe(id='ytplayer' type='text/html' width='560' height='315' src='https://www.youtube.com/embed/efRTW3aImR4' frameborder='0' allowfullscreen)
				.panel-body
					h4 Title of Image
					p
						| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in lobortis nisl, vitae iaculis sapien. Phasellus ultrices gravida massa luctus ornare. Suspendisse blandit quam elit, eu imperdiet neque semper et.
		.col-xs-12.col-md-6.col-md-offset-3.post
			.panel.panel-default
				.panel-heading
					.row
						.col-xs-6
							h3.panel-title
								a(href='#')
									img(src='#{profile.profile_picture}' height='32' width='32' class='profile-image avatar')
									|#{profile.username}
						.col-xs-6
							h3.panel-title.pull-right.source
								a(href='#')
									|<i class='fa fa-soundcloud'></i>
				.panel-image
					iframe(width='100%' height='450' scrolling='no' frameborder='no' src='https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/193007970&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true')
				.panel-body
					h4 Title of Image
					p
						| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in lobortis nisl, vitae iaculis sapien. Phasellus ultrices gravida massa luctus ornare. Suspendisse blandit quam elit, eu imperdiet neque semper et.
		.col-xs-12.col-md-6.col-md-offset-3.post
			.panel.panel-default
				.panel-heading
					.row
						.col-xs-6
							h3.panel-title
								a(href='#')
									img(src='#{profile.profile_picture}' height='32' width='32' class='profile-image avatar')
									|#{profile.username}
						.col-xs-6
							h3.panel-title.pull-right.source
								a(href='#')
									|<i class='fa fa-flickr'></i>
				.panel-image
					img.panel-image-preview(src='https://666a658c624a3c03a6b2-25cda059d975d2f318c03e90bcf17c40.ssl.cf1.rackcdn.com/unsplash_52cd36aac6bed_1.JPG')
				.panel-body
					h4 Show the Description by default!
					p
						| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in lobortis nisl, vitae iaculis sapien. Phasellus ultrices gravida massa luctus ornare. Suspendisse blandit quam elit, eu imperdiet neque semper et.
block content
block foot